<!DOCTYPE html>
<html>

<head>
    <title>Cdecl: telugu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div class="encloser">
        <div id="help">
            <button id="sourceCodeButton" class="custom-btn btn-1">Source Code</button>
        </div>
        <input class="input" type="checkbox" id="dark-mode">
        <label for="dark-mode"></label>
        <div id="vert_spacer">&nbsp;</div>
        <div id="title" class='center'>
            <h1>cdecl</h1>
            <h2>C gibberish <span class="arrow">&rarr;</span> Telugu</h2>
            <input id="query" class="searcher" name="query" value="" autocomplete="off" size="5">
            <div id="spinner" class="lds-dual-ring">
            </div>
            <div class="text_result" id="output"></div>
        </div>
    </div>
</body>

</html>